{% extends "base.html" %}

<head>
  <style>

  .AccountContainer{
    font-family: SansSerif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  </style>
</head>

{% block content %}

<div class="AccountContainer">

  <h1>Welcome to the page for {{current_user.username}}</h1><br><br>
  <img src="{{url_for('static', filename='profile_pics/'+current_user.profile_pic)}}"><br><br>

  <form method="POST" action="" enctype="multipart/form-data">

    {{form.hidden_tag()}}

    {{form.username.label}}<br>{{form.username}}<br><br>

    {{form.email.label}}<br>{{form.email}}<br><br>

    {{form.picture.label}}<br>{{form.picture}}<br><br>

    {{form.submit()}}

  </form>

</div>

{% endblock %}