<head>

    <style>

      .infoContainer{
        font-family: SansSerif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .infoTitle{
        text-align: center;
        margin: 2rem;
      }

      .textContainer{
        margin: 0 8rem 0 8rem;
        padding: 2rem 2rem 2rem 2rem;
        background-color: lavender;
        border-radius: 2rem;
        font-size: 22px;
      }

    </style>

</head>

{% extends "base.html" %}

{% block content %}

  <div class="infoContainer">
    <h1 class="infoTitle">About This Project:</h1>

    <div class="textContainer">
    <p>Welcome to my blog website! This project was crafted using Flask, HTML, CSS, and Bootstrap to provide you with a seamless and engaging blogging experience.</p>

    <p>Here's a quick overview of what you can do on this platform:</p>

    <ul>

      <li>User Registration and Login</li>
      <p>You have the freedom to register an account, making it easy to access all the features the blog offers. Already have an account? Simply log in and pick up where you left off.</p>

      <li>Create, Edit, and Delete Posts</li>
      <p>Share your thoughts, stories, and insights by creating your own blog posts. You can also edit or remove your posts whenever you like, giving you complete control over your content.</p>

      <li>Explore Other User's Posts</li>
      <p>Discover a diverse range of content created by fellow users. Explore their perspectives and engage in discussions through the comments section.</p>

      <li>Customize Your Profile</li>
      <p>Personalize your profile with a unique username and even change your profile picture to truly make it your own.</p>

    </ul>

    <p>This project was developed as part of the "Python and Flask Bootcamp: Create Websites Using Flask!" course on Udemy, where i honed my skills to bring you this platform. I hope you enjoy using it as much as i enjoyed creating it.</p>
    </div>
  </div>


{% endblock %}